.ImageUploadArea {
    text-align: left;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ImageUploadArea .fileupload{
    padding: 2%;
  }
  
  img {
    width: 300px;
    margin: 10px;
  }

  h2{
    text-align: left;
  }