:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}


main {
  display: grid;
  place-items: center;
}

.section {
  /* width: 90vw; */
  /* margin: 0 auto; */
  /* max-width: var(--max-width); */
  padding: 5rem 0;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.btn-refresh {
  background: var(--clr-primary-5);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.loading {
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.title-continent {
  text-align: center;
  margin-bottom: 1.5rem;
}

.tours-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 4rem;
}

.tours-title-continent {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.underline {
  width: 8rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.underline-continent {
  width: 8rem;
  height: 0.25rem;
  background: #476a2e;
  margin-left: auto;
  margin-right: auto;
}

.tours-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}

.continent {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}

.continentOverlay {
  display: block;
  background: lightcyan;
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 4.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  padding: 1.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

@media screen and (min-width: 576px) {
  .tours-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

.single-tour {
  background: var(--clr-white);
  border-radius: var(--radius);
  margin: 2rem 0;
  display: grid;
  grid-template-rows: auto 1fr;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.single-tour:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.single-tour img {
  width: 94%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.tour-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.tour-info h4 {
  margin-bottom: 0;
}

.single-tour button {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: var(--clr-primary-5);
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}

.tour-price {
  color: var(--clr-primary-5);
  background: var(--clr-primary-10);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}

.single-tour footer {
  padding: 1.5rem 2rem;
}

.single-tour .delete-btn {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  background: transparent;
  border: 1px solid var(--clr-red-dark);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}

.single-tour .details-btn {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: #476a2e;
  letter-spacing: 0.3rem;
  background: transparent;
  border: 2px solid #476a2e;
  padding: 0.25rem 2.8rem;
  /* padding: 0.45rem 0.8rem; */
  border-radius: var(--radius);
  text-transform: uppercase;
  transition: all 0.3s linear;
  cursor: pointer;
}

.single-tour .btn:hover {
  background: #476a2e;
  color: #fff
}

.single-tour .btn-primary {
  background: #476a2e;
  color: #fff;
  border-color: transparent;
}

.single-tour .btn-primary:hover {
  background: #d4e6a5;
  color: #476a2e;
}

@media screen and (min-width: 576px) {
  .continent {
    grid-template-columns: repeat(auto-fill, minmax(120.8px, 1fr));
  }
}

.continent-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.continent-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: var(--clr-primary-5);
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}

.continent .btn,
.continent .btn-primary {
  text-transform: uppercase;
  /* letter-spacing: 0.3rem; */
  color: #476a2e;
  border: 2px solid #476a2e;
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: 0.25rem;
  display: inline-block;
}

.continent .btn:hover {
  background: #476a2e;
  color: #fff
}

.continent .btn-primary {
  background: #476a2e;
  color: #fff;
  border-color: transparent;
}

.continent .btn-primary:hover {
  background: #d4e6a5;
  color: #476a2e;
}

.continent .btn-details {
  padding: 0.25rem 0.4rem;
}

.continent .btn-details:hover {
  background: #d4e6a5;
  border-color: #d4e6a5;
}

.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.continent-destination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}

.continent-destination-img {
  width: 94%;
  height: 28rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);

}


.title-review {
  text-align: center;
  margin: 3rem;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.container-review {
  width: 80vw;
  max-width: var(--fixed-width);
}

.review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}

.review:hover {
  box-shadow: var(--dark-shadow);
}

.img-container-review {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

.author {
  margin-bottom: 0.25rem;
}

.job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
}

.info {
  margin-bottom: 0.75rem;
}

.prev-btn,
.next-btn {
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}

.random-btn {
  margin-top: 0.5rem;
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: var(--transition);
  border-color: transparent;
  cursor: pointer;
}

.random-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
}

.reviews-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 0.5rem;
}