.wdt {
  width: 90% !important;
}

.img {
  height: 300px !important;
  width: 1000px;
}

.imgdetails {
  height: 350px !important;
  width: 725px !important;
  margin-left: 4rem;
}

.imgpad {
  padding-left: 16rem !important;
}

.cls {
  padding-right: 0px !important;
  background-color: blue
}

.slickpage {
  margin-top: 12%;
}