.wdt {
  width: 100% !important;
}

.img {
  height: 300px !important;
  width: 1300px;
}

.imgdetails {
  height: 390px !important;
  width: 890px !important;
  margin-left: 3rem;
}

.imgpad {
  padding-left: 7.5rem !important;
}

.cls {
  padding-right: 0px !important;
  background-color: blue
}

.slickpage {
  margin-top: 12%;
}