.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blog__image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  object-position: center;
}

.user__image {
  width:  17px;
  height: 17px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.user__name {
  font-size: 17px !important;
  font-weight: 600;
  margin-left: 1rem;
}

.home__banner {
  background: url("../public/Images/banner.jpg") no-repeat center center/cover;
  background-color: #79797947;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 92vh;
}